<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Game place</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/flash_styles.css">
</head>
<body>
    {% include "nav.html" %}
    <main>
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-3 gy-5"><h1>Сортировка</h1>
                    <div class="col-sm-8">
                        <form class="form-inline ">
                            <input class="form-control" type="text">
                            <button class="btn btn-outline-success" type="submit">Поиск</button>
                        </form>
                    </div>
                    <input type="date" class="form-control" id="date" name="date" placeholder="Дата" required>
                </div>
                <div class="col-9 gy-5">
                    <h1>События</h1>
                    <table class="table table-sm table-dark table-hover">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="coll">Название</th>
                                <th scope="col">Игра</th>
                                <th scope="col">Режим</th>
                                <th scope="col">Участники</th>
                                <th scope="col">Дата</th>
                                <th scope="col">Инф.</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in events %}
                            <tr>
                                <th scope="row">{{loop.index}}</th>
                                <td>{{event.get_name()}}</td>
                                <td>{{event.get_type_game()}}</td>
                                <td>{{event.get_mode_game()}}</td>
                                <td>{{event.get_current_count_users()}}/{{event.get_max_count_users()}}</td>
                                <td>{{event.get_run_date().date()}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{loop.index}}">
                                        ...
                                    </button>
                                </td>
                            </tr>

                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop{{loop.index}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Дополнительная информация</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                        <p class="text-block">
                                            Организатор: {{event.get_organizer()}}<br>
                                            Время: {{event.get_run_date().time()}}<br>
                                            Трансляция: {% if event.get_broadcast_avail() %} <a href="/broadcast/{{event.get_name()}}">ссылка на трансляцию</a> {% else %} нет {% endif %} <br>
                                            Запись: {% if event.get_record_avail() %} да {% else %} нет {% endif %} <br>
                                            <a href="/reg_an_event/{{event.get_name()}}">Регистрация</a>
                                        </p>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="col-12">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="{{ category }} col-12">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>